footer {
    height: 100px;
    background-color: yellow;
}
footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    text-align: center;
}